/* 使用更好的兼容PC & mobile 的字体 */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, /* 英文 */
    "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", "Source Han Sans CN", sans-serif;	/* 中文 */
}

/* 默认为0，实际上大部分情况下这些元素都不需要margin、padding，如果手动在项目中进行reset，那无疑增加了冗余代码 */
body,
p,
ul,
ol,
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul, ol {
    /* 大部分都不需要 padding */
	padding: 0;
    /* 大部分都不需要 list-style */
    list-style-type: none;
}

/* iphone上默认字重太重，设计一般不会采用 */
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

/* 如果字体不是继承，那么将会有更多冗余代码 */
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
}

/* 只覆盖border、outline，不覆盖background，因为background一般会有自定义 */
button {
    border: none;
    outline: none;
}

/* a标签一般都会自定义，不需要默认的text-decoration */
a {
    text-decoration: none;
}
